{% extends 'base.html' %} {% block head %}
<title>Tazze & Sorrisi</title>
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Rubik+Spray+Paint&display=swap"
  rel="stylesheet"
/>
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Rubik+Spray+Paint&family=Unkempt:wght@400;700&display=swap"
  rel="stylesheet"
/>
{% endblock %} {% block body %}
<div class="section">
  <div class="container text center">
    <div class="row">
      <div class="col">
        <img
          src="{{url_for('static', filename='images/cup-home.png')}}"
          alt="Cup image"
        />
      </div>
      <div class="col">
        <h1>NUOVE TAZZE IN ARRIVO!</h1>
        <p>
          ✅ PIU' BELLI <br />
          ✅ PIU' DIVERTENTI <br />
          ✅ VARIE DIMENSIONI (da 200 ml a 500 ml) <br />
          ✅ CON GRAFICHE UNICHE<br />
          ✅ RESISTENTI ALLA LAVASTOVIGLIE <br />
          ✅ CERAMICA DI ALTA QUALITA' <br />
        </p>
        <div class="text">Hey, sono un'edizione LIMITATA...👀🙊</div>
        <a href="/"><h2>PRENOTALE ORA!</h2></a>
      </div>
    </div>
  </div>
</div>
<h1 class="title">
  UNA TAZZA. <span class="secondary-text">UNA DIVERSA PERSONALITA'.</span>
</h1>
<div class="container text-center">
  <div class="row">
    <div class="col">
      <div class="wrap-col">
        <div class="product-title">Duff</div>
        <img
          class="product-img"
          src="{{url_for('static', filename='images/#1.png')}}"
          alt="Cup image"
        />
        <div class="description-product">
          tazza in ceramica di alta qualità. dimensione boccale tazza - altezza
          9,5 cm larghezza 8 cm - 350 ml. Stampa sublimatica professionale.
        </div>
        <div class="price">
          € 14,
          <span class="price-b">99 (IVA e spedizione inclusa)</span>
        </div>
        <div class="disponibility">disponibile</div>
        <div class="wrap-button-product">
          <a href="/" class="button-product">Scopri di più</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="wrap-col">
        <div class="product-title">Whatever</div>
        <img
          class="product-img"
          src="{{url_for('static', filename='images/#2.jpg')}}"
          alt="Cup image"
        />
        <div class="description-product">
          tazza in ceramica di alta qualità. dimensione boccale tazza - altezza
          9,5 cm larghezza 8 cm - 350 ml. Stampa sublimatica professionale.
        </div>
        <div class="price">
          € 14,
          <span class="price-b">99 (IVA e spedizione inclusa)</span>
        </div>
        <div class="disponibility">disponibile</div>
        <div class="wrap-button-product">
          <a href="/" class="button-product">Scopri di più</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="wrap-col">
        <div class="product-title">Espresso Patronum</div>
        <img
          class="product-img"
          src="{{url_for('static', filename='images/#3.png')}}"
          alt="Cup image"
        />
        <div class="description-product">
          tazza in ceramica di alta qualità. dimensione boccale tazza - altezza
          9,5 cm larghezza 8 cm - 350 ml. Stampa sublimatica professionale.
        </div>
        <div class="price">
          € 14,
          <span class="price-b">99 (IVA e spedizione inclusa)</span>
        </div>
        <div class="disponibility">disponibile</div>
        <div class="wrap-button-product">
          <a href="/" class="button-product">Scopri di più</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="wrap-col">
        <div class="product-title">I Do What I Want</div>
        <img
          class="product-img"
          src="{{url_for('static', filename='images/#4.jpg')}}"
          alt="Cup image"
        />
        <div class="description-product">
          tazza in ceramica di alta qualità. dimensione boccale tazza - altezza
          9,5 cm larghezza 8 cm - 350 ml. Stampa sublimatica professionale.
        </div>
        <div class="price">
          € 14,
          <span class="price-b">99 (IVA e spedizione inclusa)</span>
        </div>
        <div class="disponibility">disponibile</div>
        <div class="wrap-button-product">
          <a href="/" class="button-product">Scopri di più</a>
        </div>
      </div>
    </div>
    <div class="container text-center">
      <div class="row">
        <div class="col">
          <div class="wrap-col">
            <div class="product-title">Panda</div>
            <img
              class="product-img"
              src="{{url_for('static', filename='images/#5.jpg')}}"
              alt="Cup image"
            />
            <div class="description-product">
              tazza in ceramica di alta qualità. dimensione boccale tazza -
              altezza 9,5 cm larghezza 8 cm - 350 ml. Stampa sublimatica
              professionale.
            </div>
            <div class="price">
              € 14,
              <span class="price-b">99 (IVA e spedizione inclusa)</span>
            </div>
            <div class="disponibility">disponibile</div>
            <div class="wrap-button-product">
              <a href="/" class="button-product">Scopri di più</a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="wrap-col">
            <div class="product-title">Llama</div>
            <img
              class="product-img"
              src="{{url_for('static', filename='images/#6.jpg')}}"
              alt="Cup image"
            />
            <div class="description-product">
              tazza in ceramica di alta qualità. dimensione boccale tazza -
              altezza 9,5 cm larghezza 8 cm - 350 ml. Stampa sublimatica
              professionale.
            </div>
            <div class="price">
              € 14,
              <span class="price-b">99 (IVA e spedizione inclusa)</span>
            </div>
            <div class="disponibility">disponibile</div>
            <div class="wrap-button-product">
              <a href="/" class="button-product">Scopri di più</a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="wrap-col">
            <div class="product-title">Cactus</div>
            <img
              class="product-img"
              src="{{url_for('static', filename='images/#7.jpg')}}"
              alt="Cup image"
            />
            <div class="description-product">
              tazza in ceramica di alta qualità. dimensione boccale tazza -
              altezza 9,5 cm larghezza 8 cm - 350 ml. Stampa sublimatica
              professionale.
            </div>
            <div class="price">
              € 14,
              <span class="price-b">99 (IVA e spedizione inclusa)</span>
            </div>
            <div class="disponibility">disponibile</div>
            <div class="wrap-button-product">
              <a href="/" class="button-product">Scopri di più</a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="wrap-col">
            <div class="product-title">Gatto Cup</div>
            <img
              class="product-img"
              src="{{url_for('static', filename='images/#8.jpg')}}"
              alt="Cup image"
            />
            <div class="description-product">
              tazza in ceramica di alta qualità. dimensione boccale tazza -
              altezza 9,5 cm larghezza 8 cm - 350 ml. Stampa sublimatica
              professionale.
            </div>
            <div class="price">
              € 14,
              <span class="price-b">99 (IVA e spedizione inclusa)</span>
            </div>
            <div class="disponibility">disponibile</div>
            <div class="wrap-button-product">
              <a href="/" class="button-product">Scopri di più</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="color-section">
  <div class="container text-center">
    <div class="row">
      <div class="col">
        <img
          class="element-img"
          src="{{url_for('static', filename='images/security-lock.png')}}"
          alt="Cup image"
          width="100px"
        />
        <div class="title-element">Pagamento Protetto</div>
        <div class="description-element">Mastercard | Visa | PayPal</div>
      </div>
      <div class="col">
        <img
          class="element-img"
          src="{{url_for('static', filename='images/reuse.png')}}"
          alt="Cup image"
          width="100px"
        />
        <div class="title-element">Resi Gratuiti</div>
        <div class="description-element">Per 30 giorni</div>
      </div>
      <div class="col">
        <img
          class="element-img"
          src="{{url_for('static', filename='images/good-assistance.png')}}"
          alt="Cup image"
          width="100px"
        />
        <div class="title-element">Assistenza Clienti</div>
        <div class="description-element">
          Via E-Mail o Telefono al: 391 348 15 06
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
